body{
margin:0;
padding:0;
font-family:'Cormorant Garamond',serif;
background:linear-gradient(135deg,#ffb8f0 0%,#b2caff 52%, 100%);
overflow:hidden;
}
*{
box-sizing:border-box;
}
#root{
height:100vh;
background:linear-gradient(135deg,#ffb8f0 0%,#b2caff 52%, 100%);
}